<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<display-name>NWL</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/springframeworkmvc-servlet.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>controller.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/action</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<jsp-property-group>
			<description>Header and footer</description>
			<url-pattern>/index.jsp</url-pattern>
			<include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
			<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
		</jsp-property-group>
		<jsp-property-group>
			<description>Header and footer</description>
			<url-pattern>/WEB-INF/views/*</url-pattern>
			<include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
			<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
		</jsp-property-group>
	</jsp-config>

</web-app>

